@import 'reset';

$dark: #242733;
$light: #fffcf9;

$size: 50vmin;
$rows: 14;
$columns: 14;

:root {
  --color-text: #{$dark};
  --color-background: #{$light};
  --color-frame: #{desaturate(darken($light, 5%), 50%)};
  --color-hightlight: #f96767;

  --windowWidthScalar: 1;
  --windowHeightScalar: 1;

  @media (prefers-color-scheme: dark) {
    --color-text: #{$light};
    --color-background: #{$dark};
    --color-frame: #{desaturate(lighten($dark, 5%), 50%)};
  }
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  background: var(--color-background);
  font-family: Helvetica, Ariel, sans-serif;
  color: var(--color-text);
  font-size: clamp(18px, 5vmin, 32px);
  text-align: center;
}

::selection {
  background-color: var(--color-hightlight);
}

a,
button {
  color: inherit;
  text-decoration-color: var(--color-hightlight);
  text-decoration-style: solid;
  outline: none;

  &:focus {
    text-decoration-style: dotted;
  }
}

.section {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro p {
  margin-top: 0.2em;
}

.puzzle {
  --size: clamp(200px, 50vh, 80vw);
  width: var(--size);
  height: var(--size);
  position: relative;
  margin: 0.5em auto;
  padding: 0.2em;
  background: var(--color-frame);

  svg {
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  path {
    --x: 0px;
    --y: 0px;
    --rotate: 0deg;
    --transition-speed: 500ms;
    fill: url(#puzzle-pattern);
    stroke: var(--color-frame);
    stroke-width: 0.1vmin;
    transform-origin: calc(50% + 50% * var(--pieceX))
      calc(50% + 50% * var(--pieceY));
    transform: translate(var(--x), var(--y)) rotate(var(--rotate));
    transition: transform var(--transition-speed) ease;
  }
}

.links {
  li {
    display: inline-block;
  }

  li + li {
    margin-left: 0.75em;
  }

  a:focus {
    color: var(--color-hightlight);
  }

  svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: bottom;
  }
}

.newsletter {
  font-size: clamp(18px, 0.75em, 20px);
  margin-top: 1.5em;
}

.newsletter__input {
  width: clamp(200px, 80vw, 15ch);
  border: 2px solid var(--color-frame);
  outline: none;
  margin: 0.5em 0;

  &:focus {
    border-color: var(--color-hightlight);
  }
}
