doctype html
html
  head
    title ABSTRACT PUZZLES
    style
      | body {display: none; background: #f96767}
    link(rel='icon' type='image/png',href='/favicon.png' sizes='64x64')
    meta(property='og:title' content='ABSTRACT PUZZLES')
    meta(name='twitter:title' content='ABSTRACT PUZZLES')
    meta(name='description' content='Abstract Puzzles is an experimental generative art jigsaw business, coming to a coffee table near you in mid-2018.')
    meta(name='og:description' content='Abstract Puzzles is an experimental generative art jigsaw business, coming to a coffee table near you in mid-2018.')
    meta(name='twitter:description' content='Abstract Puzzles is an experimental generative art jigsaw business, coming to a coffee table near you in mid-2018.')
    meta(name='twitter:card',content='summary_large_image')
    meta(property='og:image' content='http://abstractpuzzl.es/opengraph.jpg')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='630')
    meta(name='twitter:image' content='http://abstractpuzzl.es/twittercard.jpg')

  body
    .intro
      h1 abstractpuzzl.es
      h2 for adults that like jigsaw puzzles
      h3.slider
        | but
        ol.slides
          li wish they looked 'cooler'
          li like bright colours
          li are soooo over landscapes
          li also like good design
          li appreciate generative art
          li support indie projects
          li wish they looked 'cooler'

      form(action='https://hexatope.us17.list-manage.com/subscribe/post?u=4c51e43f1162adc62d41e6ea5&amp;id=a1420a8048' method='post' target='_blank')
        input.newsletter(type='email' name='EMAIL' placeholder='sign up for email updates')
        div(style='position: absolute; left: -5000px;' aria-hidden='true')
          input(type='text' name='b_4c51e43f1162adc62d41e6ea5_a1420a8048' tabindex='-1' value='')
          input(type='submit')
      footer
        p first series to be released summer 2018
        p a dumb/genius project by #[a(href='https://twitter.com/charlotte_dann') @charlotte_dann]
