doctype html
html
  head
    title Abstract Puzzles
    link(rel="icon" type="image/png" href="/favicon.png" sizes="64x64")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(property="og:title" content="Abstract Puzzles")
    meta(name="twitter:title" content="Abstract Puzzles")
    meta(name="description" content="Abstract Puzzles is an experimental generative art jigsaw project by Charlotte Dann")
    meta(name="og:description" content="Abstract Puzzles is an experimental generative art jigsaw project by Charlotte Dann")
    meta(name="twitter:description" content="Abstract Puzzles is an experimental generative art jigsaw project by Charlotte Dann")
    meta(property="og:image" content="http://abstractpuzzl.es/opengraph.jpg")
    meta(property="og:image:width" content="1200")
    meta(property="og:image:height" content="630")
    meta(name="twitter:image" content="http://abstractpuzzl.es/twittercard.jpg")

    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-112639076-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-112639076-1');

  body
    main.section.intro
      h1.js-avoid Abstract Puzzles
      p
        span.no-wrap.js-avoid A generative art jigsaw project
        | 
        span.no-wrap.js-avoid by #[a(href="https://charlottedann.com/") Charlotte&nbsp;Dann]
      p.js-avoid One puzzle posted every week

    aside.puzzle#puzzle-wrapper
      svg#puzzle(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000")
        defs
          pattern#puzzle-pattern(height="100%" width="100%" patternUnits="userSpaceOnUse")
            image#puzzle-image(width="1000" height="1000" preserveAspectRatio="xMidYMax slice" xlink:href="assets/puzzle.png?{sizes:[200]}")
        include assets/puzzle.svg
      canvas.canvas#puzzle-celebration

    footer.section
      ul.links.js-avoid
        li
          a(href="https://www.instagram.com/abstractpuzzles/" title="Follow on Instagram")
            include icons/instagram
        li
          a(href="https://www.youtube.com/channel/UCDcKvGgdl8Jf7mROVZlhjog" title="Watch full-length solves on YouTube")
            include icons/youtube
        li
          a(href="https://twitter.com/abstractpuzzles" title="Follow on Twitter")
            include icons/twitter
        li
          a(href="https://github.com/pouretrebelle/jigsaws" title="Find the source code for all the art on GitHub")
            include icons/github
      form.newsletter(action="https://hexatope.us17.list-manage.com/subscribe/post?u=4c51e43f1162adc62d41e6ea5&amp;id=a1420a8048" method="post" target="_blank")
        label
          span.no-wrap.js-avoid Put your email here to be notified when
          | 
          span.no-wrap.js-avoid you can buy one for yourself:&ensp;
          input.newsletter__input.js-avoid(type="email" name="EMAIL")
          div(style="position: absolute; left: -5000px;" aria-hidden="true")
            input(type="text" name="b_4c51e43f1162adc62d41e6ea5_a1420a8048" tabindex="-1" value="")
            input(type="submit")
      span.disclaimer.js-avoid N.B. that may never happen
